.App {
  text-align: center;
}

.home-page{
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
}

.chartContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-page{
  margin-top: 100px;
  /* width: 100%;
  height: 100%; */
  /* background: linear-gradient(89deg, #6D7993 0%, #343434 100%); w3c */
}

/* .center {
  display: flex;
  justify-content: center;
} */

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.compContainer{
  display: flex;
  justify-content: space-between;
  /* justify-content: center;
  align-content: center;
  margin: 0; */
}
